body {
  background-color: black;
  color: #00fecb;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 20px;
}

h1 {
  font-size: 50px;
}

#questionBox {
  border: 5px solid #00fecb;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}

#questionButtons {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
}


.quiz-option {
  background-color: #00fecb;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition-duration: 0.4s;
}

.quiz-option:hover {
  background-color: #00d4b6;
  color: white;
}

#navigationButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

#navigationButtons a {
  text-decoration: none;
}

#navigationButtons button {
  width: 110%;
  height: 50px;
  font-size: 20px;
}

#backButton {
  background-color: red;
  color: white;
}

#nextButton {
  background-color: green;
  color: white;
}

.nav-area {
  list-style: none;
  margin-top: 10px;
}

.nav-area li {
  display: inline-block;
  margin-left: 15px;
}

.nav-area li a {
  color: #000000;
  text-decoration: none;
  font-size: 16px;
}

.nav-area li a:hover {
  background: #fff;
  color: #333;
}

.navbar-brand img {
  width: 100px;
  height: auto;
  margin-right: 10px;
}

.navbar {
  padding: 10px 0;
}